<div class="comment">
    <p class="comment-content"><%= comment.text %></p>
    <p class="comment-posted-by">By: <%= comment.user.email %><%= time_ago_in_words(comment.created_at)%></p>

    <div class='links'>
        <% if user_signed_in? %>
            <% if current_user.id == comment.user.id%> 
            <%= link_to 'Edit Comment', edit_post_comment_path(comment.post, comment), class: "btn btn-info" %>
            <%= link_to 'Delete Comment', post_comment_path(comment.post, comment), method: :delete, data: {confirm: "Are you Sure?"}, class: "btn btn-danger" %>
            <%end%>
        <% end %>
</div>